<div class="container mb-5" *ngIf="video">
  <div class="card">
  
    <div class="card-header">
      {{video.title}}
    </div>
	
    <div class="card-block">
      <div class="row">
	  
        <div class="col-md-3">
          <img [src]="video.thumbnails.medium.url" height="150" width="250" />
          <h4>Medium</h4>
        </div>
		
        <div class="col-md-3">
          <img [src]="video.thumbnails.high.url" height="auto" width="auto" /> 
          <h4>Default</h4>
        </div>
		
      </div>
    </div>
	
  </div>
</div>